<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../node_modules/vue/dist/vue.js"></script>
    <title>Vue.js - 0303</title>
  </head>
  <body>
    <div id="app">
      <input type="radio" v-model="cor" value="Azul" id="azul" />
      <label for="azul">Azul</label><br />
      
      <input type="radio" v-model="cor" value="Vermelho" id="vermelho" />
      <label for="vermelho">Vermelho</label>

      <p>cor: {{cor}}</p>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data: {
          cor: "",
        },
      });
    </script>
  </body>
</html>
