<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="./vue.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Techno</title>
  </head>
  <body>
    <div id="app">
      <header class="header">
        <img class="logo" src="./assets/techno.svg" alt="Techno" />
        <div class="carrinhoMenu">
          {{carrinhoTotal | numeroPreco}} | {{carrinho.length}}
        </div>
        <ul>
          <li v-for="item, index in carrinho">
            <p>{{item.nome}}</p>
            <button @click="removerProduto(index)">X</button>
          </li>
        </ul>
      </header>

      <section class="produtos">
        <div
          v-for="produto in produtos"
          @click="abrirModal(produto.id)"
          class="produto"
          :key="produto.id"
        >
          <img :src="produto.img" :alt="produto.nome" class="produtoImg" />
          <div class="produtoInfo">
            <span class="produtoPreco">{{produto.preco | numeroPreco}}</span>
            <h2 class="produtoTitulo">{{produto.nome}}</h2>
          </div>
        </div>
      </section>

      <section class="modal" v-if="produto" @click="fecharModal">
        <div class="modalContainer">
          <div class="modalImg">
            <img :src="produto.img" :alt="produto.nome" />
          </div>
          <div class="modalDados">
            <button @click="produto = false" class="modalFechar">X</button>
            <span class="modalPreco">{{produto.preco | numeroPreco}}</span>
            <h2 class="modalTitulo">{{produto.nome}}</h2>
            <p>{{produto.descricao}}</p>

            <button
              v-if="produto.estoque > 0"
              @click="adicionarProduto"
              class="modalBtn"
            >
              Adicionar Item
            </button>
            <button v-else disabled class="modalBtn esgotado">
              Produto Esgotado
            </button>
          </div>
          <div class="modalAvaliacoes">
            <h2 class="avaliacoesSubtitulo">Avaliações</h2>
            <ul>
              <li v-for="avaliacao in produto.reviews" class="avaliacao">
                <p class="avaliacaoDescricao">{{avaliacao.descricao}}</p>
                <p class="avaliacaoUsuario">
                  {{avaliacao.nome}} | {{avaliacao.estrelas}} estrelas
                </p>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <div class="alerta" :class="{ativo: alertaAtivo}">
        <p class="alertaMsg">{{mensagemAlerta}}</p>
      </div>
    </div>

    <script src="./app.js"></script>
  </body>
</html>
